@CHARSET "UTF-8";


body
{
	background-color:#FFF;
	/*color: #006680;*/
	color:#00375C;
	
}

#main
{
	margin-left:50px;
	margin-right:50px;
}
#header
{
	position:relative;
	height:50px;
	border-bottom:1px solid #000;
	font-size: 1.5em;

}

#header-content
{
	position:absolute;
	bottom:0;
	left:0;
	color: #000;
}

#input
{
	margin-top:20px;
}

#output
{
	margin-top:20px;


}

#hud{
	
	background-color:#E6EFF5;
	border:1px solid #000;
	width:100%;
	overflow:hidden;
}

.hud-box
{
	padding:10px;
	float:left;
	border-right:1px solid #00375C;



	
}

.hud-box td,th
{
	text-align:left;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:10px;
	padding-right:30px;
}

.hud-table
{
	border-top:1px solid #00375C;


}

#allcommands
{

	clear:both;
	
}
.command_box
{
	float:left;
	margin:20px;

	
}

.command_title
{
	margin:10px;
	color:#000;

}

.commands
{
	font-family:"Lucida Console", Monaco, monospace;
	/*background-color:#F5F9FA;*/
	background-color:#E6EFF5;
	width:600px;
	height:200px;
	margin:10px;
	padding:10px;	
	overflow-y:auto;
	

}

::selection
{
	background-color:#0A2933;
	color:#CED4D6;
}
::-moz-selection
{
	background-color:#0A2933;
	color:#CED4D6;
}