@CHARSET "UTF-8";


body
{
	background-color:#FFF;
	color: #006680;
}

#main
{
	margin-left:50px;
	margin-right:50px;
}
#header
{
	position:relative;
	height:50px;
	border-bottom:1px solid #000;
	font-size: 1.5em;

}

#header-content
{
	position:absolute;
	bottom:0;
	left:0;
	color: #000;
}

#input
{
	margin-top:20px;
}

#output
{
	margin-top:20px;

}

.command_box
{
	float:left;
	margin:20px;

	
}

.command_title
{
	margin:10px;
	color:#000;

}

.commands
{
	font-family:"Lucida Console", Monaco, monospace;
	background-color:#F5F9FA;
	width:500px;
	/*height:200px;*/
	margin:10px;
	padding:10px;	
	/*overflow:scroll;*/
	

}

.commands::selection
{
	background-color:#0A2933;
	color:#CED4D6;
}
.commands::-moz-selection
{
	background-color:#0A2933;
	color:#CED4D6;
}