@CHARSET "UTF-8";

*{
	padding:0;
	margin:0;
}

body
{
	background-color:#FFF;
	color:#00375C;
	
}

#main
{

}
#header
{
	position:relative;
	height:100px;
	border-bottom:1px solid #000;
	font-size: 1.5em;
	background-color:#E6EFF5;


}

#header-content
{
	position:absolute;
	bottom:0;
	left:50px;
	color: #000;
	padding:10px;
}

#program-tuple
{
	height:50px;
	margin-left:80px;
	
}
#program-tuple a
{
	display:block;
	float:left;
	margin-right:10px;
	border:1px solid #000;
	padding:10px;
	text-decoration:none;
	color:#000;
	background-color:#CCDEEB;

}

#program-tuple a:hover
{
	background-color:#E6EFF5;
}
#input
{

	float:clear;

	margin-left:50px;
	margin-right:50px;
	margin-top:20px;
	margin-bottom: 50px;

}



#bwmoninput
{

	margin-right:50px;
	margin-top:20px;
	margin-bottom: 50px;
}

#bwmonlinks
{
	margin-bottom:50px;
	width:210px;
	float:left;
	margin-right:50px;
	
}

#bwmonlinks a
{
	width:50px;
	margin-bottom:10px;
	display:block;
	margin-right:10px;
	border:1px solid #000;
	padding:5px 80px 5px 80px;
	text-decoration:none;
	color:#000;
	background-color:#CCDEEB;

}
#bwmonlinks ul
{
	list-style-type:none;
}

#bwmonlinks a:hover
{
	background-color:#E6EFF5;
}

#bwmoncreate
{
	float:left;
}
#bwmonsearch
{
	float:left;
}

#loading1
{

}

#output
{
	margin-top:20px;
	margin-right:50px;


}

.hud-container
{
	/* currently grouping interface/ping and commands*/
	margin-bottom:90px;
	overflow:hidden;
	
}

.hud{
	
	margin-right:20px;
	overflow:hidden;


}
.hud-title
{
	font-size:1.2em;
	color:#000;
	padding-left:80px;
	border-bottom:1px solid #A9B3BC;

	
}
.hud-box
{	
	overflow:hidden;
	margin-left:50px;

}

.hud-box td,th
{
	text-align:left;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:30px;
}

.hud-table
{
	padding:20px;
	float:left;
}

#pingtraceio
{
	padding:20px;
	float:left;	
	overflow-y:auto;
}


.command_box
{
	float:left;
	margin-top:20px;
	margin-right:20px;

	
}

.command_title
{
	margin:10px;
	color:#000;

}

.commands
{
	font-family:"Lucida Console", Monaco, monospace;
	/*background-color:#F5F9FA;*/
	width:500px;
	height:200px;
	padding:10px;	
	overflow-y:auto;
	

}

::selection
{
	background-color:#0A2933;
	color:#CED4D6;
}
::-moz-selection
{
	background-color:#0A2933;
	color:#CED4D6;
}

#footer
{
	height:200px;
	border-top:1px solid #000;
	
}